.swiper-content {
    left: 50%;
    transform: translate(-50%);
    width: 10%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}